[1999 to 2008 Diabetes Dataset](https://archive.ics.uci.edu/ml/datasets/diabetes+130-us+hospitals+for+years+1999-2008)

In [ ]:
import os, tempfile, urllib, zipfile

import pandas

import tensorflow as tf

import tensorflow_data_validation as tfdv

In [ ]:
dataurl = 'data/diabetic_data.csv'

data = pandas.read_table(dataurl, na_values='?', sep=',')

data.shape

(101766, 50)

In [ ]:
data.iloc[:5, :8]

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id
0,2278392,8222157,Caucasian,Female,[0-10),NaN,6,25
1,149190,55629189,Caucasian,Female,[10-20),NaN,1,1
2,64410,86047875,AfricanAmerican,Female,[20-30),NaN,1,1
3,500364,82442376,Caucasian,Male,[30-40),NaN,1,1
4,16680,42519267,Caucasian,Male,[40-50),NaN,1,1

In [ ]:
data.iloc[:5, 43:]

,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,No,No,No,No,No,No,NO
1,No,No,No,No,Ch,Yes,>30
2,No,No,No,No,No,Yes,NO
3,No,No,No,No,Ch,Yes,NO
4,No,No,No,No,Ch,Yes,NO

In [ ]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(data, train_size=0.7, test_size=0.3, random_state=0)

test, serve = train_test_split(test, test_size=0.5, random_state=0)

train.shape[0], test.shape[0], serve.shape[0]

(71236, 15265, 15265)

In [ ]:
from tensorflow_data_validation import StatsOptions

ColDelete = ['encounter_id', 'patient_nbr']

OurColumn = [i for i in data.columns if i not in ColDelete]

stats_options = StatsOptions(feature_allowlist=OurColumn)

total_cols = len(stats_options.feature_allowlist)

total_cols

48